Consistently handle the case where an HTTP result contains an array of headers

`RequestCallbackHeaders` (renamed to `ResponseHeaders` in #1603) [can return an array of values for a given header field](https://github.com/ably/ably-js/blob/d61735b5c322cb91b1b71e79db1f9a438b898e62/src/common/types/http.ts#L11). I don't know whether we properly take this into account in the codebase. I've ad-hoc handled it inside `Auth.requestToken` in #1603 by applying [the rules of RFC 9110, section 5.2](https://datatracker.ietf.org/doc/html/rfc9110#section-5.2) — that is, by creating a comma-separated list of header values. We should probably make this behaviour consistent and instead do this inside our HTTP client.